# Big Data y Machine Learning (UBA) - 2025

# Trabajo Práctico 2

## Parte I: Familiarizandonos con la base EPH y limpieza

#### 1) Mediante la Encuesta Permanente de Hogares, se entrevista a una muestra controlada de la población argentina. Con controlada referimos a diversificar las personas y hogares que fueron entrevistadas, por ejemplo, se entrevista a personas de 31 aglomerados urbanos del pais. Pero como dijimos, es una muestra, por lo que posteriormente se pondera según la población del aglomerado para estimar los resultados de la población total (aunque solo se estima para casi 30 millones de personas). Aquí luego se discrimina por población economicamente activa (patrones, ocupados, desempleados) e inactiva (estudiantes, jubilados, etc.). Dentro de los activos, encontramos a los desocupados que buscan un empleo y no lo encuentran. Con este dato y la población economicamente activa, encontramos la tasa de desempleo del trimestre en cuestión.

In [1]:
# IMPORTO LA LIBRERIA Y LOS ARCHIVOS
import pandas as pd

T1_24=pd.read_excel('/Users/tadeo/OneDrive - Económicas - UBA/ECONOMÍA/BIG DATA/base de datos/usu_individual_T124.xlsx')

T1_04=pd.read_stata("/Users/tadeo/OneDrive - Económicas - UBA/ECONOMÍA/BIG DATA/base de datos/usu_individual_T104.dta")

In [19]:
# PUNTO A)
# ELIJO LA REGIÓN PAMPEANA
PAMP24 = T1_24[(T1_24['REGION']==43)]
PAMP04 = T1_04[(T1_04['region'] =='Pampeana')]

In [21]:
# NORMALIZO EL NOMBRE DE LA COLUMNA PARA LAS DOS
PAMP04.rename(columns={"region": "REGION"}, inplace=True)

# OBSERVO QUE TIPO DE DATO TIENE CADA DATAFRAME
print(PAMP04['REGION'].dtype) # CATEGORY
print(PAMP24['REGION'].dtype) # INT64
# COMO SON TIPOS DISTINTOS, CAMBIO UNO DE ELLOS
PAMP04["REGION"] = 43

PAMP04 # VERIFICO QUE LOS CAMBIOS SE EJECUTARON CORRECTAMENTE

category
int64

C:\Users\tadeo\AppData\Local\Temp\ipykernel_15872\1925735095.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PAMP04.rename(columns={"region": "REGION"}, inplace=True)
C:\Users\tadeo\AppData\Local\Temp\ipykernel_15872\1925735095.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PAMP04["REGION"] = 43

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,REGION,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
27204,125051,1.0,1.0,Sí,2004.0,1er. Trimestre,43,S,Gran La Plata,355.0,...,01,02,01,01,,01,Tiene plan jefas y jefes,0.0,0.0,00000
27205,125051,1.0,2.0,Sí,2004.0,1er. Trimestre,43,S,Gran La Plata,355.0,...,01,02,01,01,,01,0.0,0.0,0.0,00000
27206,125051,1.0,3.0,Sí,2004.0,1er. Trimestre,43,S,Gran La Plata,355.0,...,01,02,01,01,,01,0.0,0.0,0.0,00000
27207,125051,1.0,4.0,Sí,2004.0,1er. Trimestre,43,S,Gran La Plata,355.0,...,01,02,01,01,,01,0.0,0.0,0.0,00000
27208,125051,1.0,5.0,0.0,2004.0,1er. Trimestre,43,S,Gran La Plata,355.0,...,01,02,01,01,,01,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42020,288189,1.0,2.0,Sí,2004.0,1er. Trimestre,43,N,Río Cuarto,193.0,...,01,01,01,,01,01,0.0,0.0,0.0,00000
42021,288189,1.0,3.0,Sí,2004.0,1er. Trimestre,43,N,Río Cuarto,193.0,...,01,01,01,,01,01,0.0,0.0,0.0,00000
42022,288189,1.0,4.0,Sí,2004.0,1er. Trimestre,43,N,Río Cuarto,193.0,...,01,01,01,,01,01,0.0,0.0,0.0,00000
42023,288189,1.0,5.0,0.0,2004.0,1er. Trimestre,43,N,Río Cuarto,193.0,...,01,01,01,,01,01,0.0,0.0,0.0,00000
42024,288189,1.0,6.0,Sí,2004.0,1er. Trimestre,43,N,Río Cuarto,193.0,...,01,01,01,,01,01,0.0,0.0,0.0,00000

In [ ]:
# UNO LAS DOS BASES DE DATOS

PAMP04.merge(PAMP24, on="REGION", how="outer")

In [9]:
# PUNTO B)
# ELIJO 15 VARIABLES DE INTERES
CATEGORIAS_ELEGIDAS = ['AGLOMERADO','CH04','CH06','CH09','NIVEL_ED','ESTADO','CAT_OCUP','CAT_INAC','PP04A','PP07H','PP07J','PP08D1','PP11O','IPCF','DECCFR']

# FILTRO EN EL 2024
puntob_24 = PAMP24[CATEGORIAS_ELEGIDAS]

# ELIMINO TODOS LOS VALORES NaN DE LA TABLA DEL 2024
puntob_24.isna().sum().sort_values(ascending=False)

PP11O         13957
PP04A          8108
PP07H          8108
PP07J          8108
PP08D1         8108
AGLOMERADO        0
CH04              0
CH06              0
CH09              0
NIVEL_ED          0
ESTADO            0
CAT_OCUP          0
CAT_INAC          0
IPCF              0
DECCFR            0
dtype: int64

In [13]:
# REALIZO LO MISMO EN EL DATAFRAME DE 2004
categorias_elegidas=[x.lower() for x in CATEGORIAS_ELEGIDAS] # SON LAS MISMAS CATEGORIAS PERO EN MINUSCULA

puntob_04 = PAMP04[categorias_elegidas]
puntob_04.isna().sum().sort_values(ascending=False)

aglomerado    0
ch04          0
ch06          0
ch09          0
nivel_ed      0
estado        0
cat_ocup      0
cat_inac      0
pp04a         0
pp07h         0
pp07j         0
pp08d1        0
pp11o         0
ipcf          0
deccfr        0
dtype: int64

In [39]:
# PUNTO C)
# ACÁ OBSERVAMOS CUALES SON LOS VALORES QUE PODRÍAN SER SIN SENTIDO 
for i in CATEGORIAS_ELEGIDAS:
    print(puntob_24[i].unique())

# EJEMPLOS: EN CH06 (EDAD) HAY UN VALOR DE -1; -9 en PP08D1 (INGRESOS); 
# 12 Y 0 (AL MISMO TIEMPO) EN DECCFR (EN QUE DECIL DE LA SOCIEDAD SE ENCUENTRA EL INGRESO FAMILIAR DEL HOGAR PER CÁPITA)
puntob_24 = puntob_24[~puntob_24['CH06'].isin([-1, -9])]
puntob_24 = puntob_24[(puntob_24['PP08D1']!= -9)]
puntob_24['DECCFR'] = puntob_24['DECCFR'].replace(12, 0)

[ 5 30  4 36 13  2  3 34  6 38 14]
[2 1]
[ 57  35  46  48  43  18   9  55  41  74  77  19  40  15  22  52  82  53
  21  62  24  32   4  67  45  14  12   7  73  64  63  59  34  26  20  72
  69  87  49  51  50  44  42  11   6  37   8  85  28   2  16  30  29  86
  33  38  71  39  81  61  27   3  83  75  56  17  13  66  80  47  78  76
  31  79  25  23  68  65  10  36   5  -1  70  89  60  58   1  54  84  90
  93  92  91  98  99  88  94 101  97 100  96  95]
[1 2 3]
[6 3 2 4 5 1 7]
[1 2 3 4 0]
[3 2 0 1 4]
[0 3 4 1 6 5 7 2]
[ 3.  2.  1. nan]
[ 1.  0. nan  2.]
[ 1.  0. nan  3.  2.  9.]
[-9.000e+00  0.000e+00  6.000e+05        nan  3.500e+05  2.500e+05
  2.000e+05  3.000e+05  4.500e+05  1.000e+05  3.300e+05  8.000e+04
  3.600e+04  5.000e+05  1.700e+05  4.520e+04  7.800e+04  8.500e+04
  4.000e+05  2.400e+05  2.800e+05  2.690e+05  3.200e+05  6.500e+05
  5.500e+05  9.000e+05  7.000e+05  1.200e+05  8.000e+05  2.980e+05
  2.200e+05  3.900e+05  1.400e+05  1.800e+06  4.800e+05  1.500e+05
  9.100e+05  5.000e+04  4.800e+04  6.400e+04  1.800e+05  7.200e+05
  2.900e+05  1.600e+05  1.100e+05  4.260e+05  6.000e+04  4.300e+05
  1.200e+06  7.900e+05  4.000e+04  3.400e+05  7.500e+05  8.400e+04
  3.210e+05  2.000e+04  5.400e+04  9.000e+04  2.300e+05  3.600e+05
  2.600e+05  4.600e+05  1.000e+06  4.200e+05  2.100e+05  9.600e+04
  1.500e+06  3.800e+05  9.500e+04  7.840e+04  1.680e+05  1.930e+05
  1.250e+05  6.500e+04  1.900e+05  2.700e+05  1.100e+06  5.440e+04
  1.850e+05  9.500e+05  2.480e+05  8.600e+05  2.650e+05  5.800e+05
  1.300e+05  3.830e+05  6.600e+04  7.300e+05  2.560e+05  4.500e+04
  7.500e+04  5.750e+04  1.200e+04  2.440e+05  1.700e+04  6.400e+05
  9.800e+04  1.120e+05  2.000e+06  5.130e+05  4.000e+03  9.300e+04
  1.020e+05  4.400e+05  1.650e+05  5.600e+04  2.630e+05  2.430e+05
  2.500e+06  1.300e+06  4.100e+05  2.880e+05  3.100e+05  2.500e+04
  3.360e+05  4.180e+05  3.700e+05  7.200e+04  2.400e+04  2.130e+05
  7.000e+04  4.850e+05  5.400e+05  1.920e+05  1.520e+05  1.440e+05
  5.200e+05  8.300e+04  1.450e+05  3.200e+04  3.930e+05  6.900e+05
  7.300e+04  3.000e+04  9.280e+05  3.590e+05  2.180e+05  7.000e+03
  6.800e+04  1.160e+05  4.900e+05  1.800e+04  6.030e+05  5.500e+04
  4.950e+05  5.300e+05  8.500e+05  1.870e+05  3.250e+05  1.370e+05
  5.600e+05  1.050e+05  1.330e+05  2.160e+05  6.200e+05  4.700e+04
  6.720e+04  1.560e+05  3.450e+05  1.700e+06  9.000e+03  1.400e+06
  3.400e+04  5.100e+05  3.220e+05  2.800e+04  1.500e+04  9.400e+04
  2.090e+05  1.980e+05  1.388e+05  2.310e+05  4.400e+04  1.000e+04
  9.800e+05  5.120e+04  5.330e+05  6.120e+05  3.480e+05  1.296e+05
  4.250e+05  2.640e+05  2.450e+05  8.300e+05  4.956e+05  8.080e+05
  3.060e+05  8.000e+03  2.970e+05  5.200e+04  1.240e+05  4.320e+04
  1.150e+05  1.232e+05  3.500e+04  2.570e+05  2.250e+05  1.051e+05
  2.370e+05  6.600e+05  2.660e+05  1.750e+05  8.200e+05  1.090e+05
  4.590e+05  8.200e+04  2.580e+05  5.700e+05  2.520e+04  8.700e+05
  7.680e+04  3.160e+05  7.900e+04  8.320e+04  1.840e+05  4.700e+05
  2.200e+04  5.360e+05  6.450e+05  4.200e+04  1.340e+05  3.000e+06
  2.340e+05  1.960e+05  7.700e+04  3.680e+05  7.600e+04  3.760e+05
  6.700e+05  8.800e+04  3.550e+05  2.380e+05  8.640e+04  1.350e+05
  1.540e+05  5.760e+04  1.950e+05  2.460e+05  2.320e+05  3.150e+05
  2.610e+05  6.800e+05  5.450e+05  1.820e+05  6.660e+05  2.850e+05
  8.350e+04  3.900e+04  1.002e+05  5.040e+04  5.520e+05  1.320e+05
  2.150e+05  8.330e+05  2.520e+05  6.700e+04  2.960e+05  8.800e+05
  7.400e+05  2.190e+05  1.280e+05  5.880e+04  1.610e+05]
[nan  6.  0.  4.  1.  5.  8.  2.  9.  7.]
[     0.   266666.67  87500.   ... 140600.   487500.    16500.  ]
[12  7  2  3 10  9  1  4  6  5  8  0]

,AGLOMERADO,CH04,CH06,CH09,NIVEL_ED,ESTADO,CAT_OCUP,CAT_INAC,PP04A,PP07H,PP07J,PP08D1,PP11O,IPCF,DECCFR
67,30,1,46,1,3,1,2,0,2.0,0.0,0.0,0.0,NaN,266666.67,7
68,30,2,48,1,6,1,3,0,1.0,1.0,1.0,600000.0,NaN,266666.67,7
111,4,2,43,1,2,2,3,0,NaN,NaN,NaN,NaN,6.0,87500.00,2
112,4,1,48,1,4,1,3,0,2.0,1.0,1.0,350000.0,NaN,87500.00,2
113,4,2,18,1,5,3,0,3,NaN,NaN,NaN,NaN,NaN,87500.00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45998,4,2,6,1,1,4,0,3,NaN,NaN,NaN,NaN,NaN,0.00,0
46001,4,2,51,1,4,1,3,0,2.0,1.0,1.0,380000.0,NaN,0.00,0
46002,4,1,27,1,5,1,3,0,2.0,1.0,1.0,250000.0,NaN,0.00,0
46003,4,2,23,1,5,2,2,0,NaN,NaN,NaN,NaN,0.0,0.00,0
46004,4,1,19,1,5,3,0,3,NaN,NaN,NaN,NaN,NaN,0.00,0

In [ ]:
puntoc_24=puntob_24
for i in CATEGORIAS_ELEGIDAS:
    print(puntoc_24[i].unique())

In [106]:
for i in categorias_elegidas:
    print(puntob_04[i].unique())

# ¿JUNTAR LOS 0.0 (NO CORRESPONDE LA PREGUNTA), CON "NS/NR"?
puntoc_04=puntob_04.replace(['Entrevista individual no realizada (no respuesta al cuestion', 'Ns./Nr.'], 0.0)

['Gran La Plata', 'Bahía Blanca - Cerri', 'Gran Rosario', 'Gran Santa Fe', 'Gran Paraná', 'Gran Córdoba', 'Concordia', 'Santa Rosa - Toay', 'Mar del Plata - Batán', 'Río Cuarto']
Categories (29, object): ['Gran La Plata' < 'Bahía Blanca - Cerri' < 'Gran Rosario' < 'Gran Santa Fe' ... 'Ciudad de Buenos Aires' < 'Partidos del GBA' < 'Mar del Plata - Batán' < 'Río Cuarto']
['Varón', 'Mujer']
Categories (2, object): ['Varón' < 'Mujer']
[52.0, 40.0, 19.0, 14.0, 9.0, ..., '98 y más años', 91.0, 92.0, 94.0, 96.0]
Length: 98
Categories (99, object): ['Menos de 1 año' < 1.0 < 2.0 < 3.0 ... 95.0 < 96.0 < 97.0 < '98 y más años']
['Sí', 'No', 'Menor de 2 años']
Categories (4, object): ['Sí' < 'No' < 'Menor de 2 años' < 'Ns./Nr.']
['Secundaria Incompleta', 'Secundaria Completa', 'Primaria Incompleta (incluye educación especial)', 'Primaria Completa', 'Superior Universitaria Completa', 'Sin instrucción', 'Superior Universitaria Incompleta']
Categories (7, object): ['Primaria Incompleta (incluye educación especial)' < 'Primaria Completa' < 'Secundaria Incompleta' < 'Secundaria Completa' < 'Superior Universitaria Incompleta' < 'Superior Universitaria Completa' < 'Sin instrucción']
['Ocupado', 'Inactivo', 'Menor de 10 años', 'Desocupado', 'Entrevista individual no realizada (no respuesta al cuestion']
Categories (5, object): ['Entrevista individual no realizada (no respuesta al cuestion' < 'Ocupado' < 'Desocupado' < 'Inactivo' < 'Menor de 10 años']
['Obrero o empleado', 0.0, 'Patrón', 'Cuenta propia', 'Trabajador familiar sin remuneración']
Categories (5, object): [0.0 < 'Patrón' < 'Cuenta propia' < 'Obrero o empleado' < 'Trabajador familiar sin remuneración']
[0.0, 'Estudiante', 'Menor de 6 años', 'Jubilado/pensionado', 'Ama de casa', 'Discapacitado', 'Rentista', 'Otros']
Categories (8, object): [0.0 < 'Jubilado/pensionado' < 'Rentista' < 'Estudiante' < 'Ama de casa' < 'Menor de 6 años' < 'Discapacitado' < 'Otros']
['...estatal?', '...privada?', 0.0, '...de otro tipo? (especificar)', 'Ns./Nr.']
Categories (5, object): [0.0 < '...estatal?' < '...privada?' < '...de otro tipo? (especificar)' < 'Ns./Nr.']
['No', 0.0, 'Sí']
Categories (3, object): [0.0 < 'Sí' < 'No']
['...de día? (mañana/tarde)', 0.0, '...de otro tipo? (rotativo, día y noche, guardias con franco', '...de noche', 'Ns./Nr.']
Categories (5, object): [0.0 < '...de día? (mañana/tarde)' < '...de noche' < '...de otro tipo? (rotativo, día y noche, guardias con franco' < 'Ns./Nr.']
[1.500e+02 2.000e+02 7.000e+00 0.000e+00 5.020e+02 7.300e+02 3.020e+02
 7.000e+02 5.000e+02 3.220e+02 5.700e+02 8.000e+02 7.020e+02 1.000e+03
 1.750e+03 4.500e+02 6.100e+02 1.200e+03 3.320e+02 6.700e+02 6.000e+02
 8.310e+02 4.000e+01 4.000e+02 1.500e+03 9.000e+02 2.000e+03 2.520e+02
 3.000e+02 8.200e+02 4.500e+03 3.520e+02 4.620e+02 1.520e+02 4.800e+02
 3.400e+02 3.200e+02 6.300e+02 2.800e+02 1.002e+03 1.803e+03 4.320e+02
 2.500e+02 5.800e+02 1.802e+03 7.200e+02 3.820e+02 2.420e+02 1.700e+03
 9.500e+02 1.000e+02 7.000e+01 7.500e+02 7.800e+02 1.800e+03 1.150e+03
 1.400e+03 1.100e+03 5.500e+02 9.020e+02 6.020e+02 2.100e+03 4.590e+02
 8.020e+02 1.300e+03 8.300e+02 1.502e+03 1.420e+02 4.020e+02 3.002e+03
 9.000e+01 2.780e+02 3.500e+02 2.400e+02 4.520e+02 1.102e+03 1.403e+03
 6.800e+02 7.520e+02 2.020e+02 4.310e+03 9.750e+02 8.000e+01 8.400e+02
 6.500e+02 6.250e+02 5.720e+02 3.600e+02 3.900e+03 2.200e+03 4.330e+02
 3.000e+03 3.300e+02 9.820e+02 5.750e+02 6.090e+02 2.002e+03 1.202e+03
 8.500e+02 9.000e+00 5.780e+02 5.080e+02 4.950e+02 1.152e+03 1.052e+03
 3.010e+02 1.800e+02 4.700e+02 6.820e+02 5.820e+02 1.922e+03 4.250e+02
 5.520e+02 2.920e+02 3.800e+02 2.250e+02 1.200e+02 5.600e+02 2.950e+02
 1.220e+02 1.400e+02 1.302e+03 1.478e+03 8.090e+02 2.600e+02 1.850e+03
 1.550e+03 7.640e+02 1.050e+03 4.070e+02 2.300e+02 1.250e+02 2.220e+03
 5.000e+03 4.720e+02 8.900e+02 4.600e+02 1.820e+03 2.300e+03 1.900e+02
 3.920e+02 1.600e+02 5.400e+02 3.700e+02 4.200e+02 1.573e+03 5.050e+02
 4.400e+02 7.750e+02 2.500e+03 4.450e+02 5.530e+02 1.600e+03 1.300e+02
 5.360e+02 3.200e+03 5.000e+01 1.320e+03 6.000e+01 3.000e+01 1.440e+03
 7.400e+01 1.420e+03 5.320e+02 4.800e+01 9.800e+02 3.780e+02 4.670e+02
 2.700e+02 1.035e+03 2.500e+01 1.250e+03 1.075e+03 2.340e+02 9.300e+02
 9.400e+02 2.600e+03 3.750e+02 8.690e+02 5.200e+02 3.900e+02 4.410e+02
 1.350e+03 1.425e+03 1.970e+03 3.250e+02 5.260e+02 6.900e+02 5.850e+02
 2.080e+02 6.200e+02 8.700e+02 5.300e+03 7.890e+02 2.400e+03 1.900e+03
 1.700e+02 6.600e+02 7.200e+01 1.180e+03 3.500e+03 4.300e+02 7.500e+03
 5.100e+02 6.930e+02 2.200e+02 1.280e+03 9.600e+01 2.350e+03 5.920e+02
 1.060e+03 2.470e+02 4.900e+02 1.350e+02 5.660e+02 7.800e+01 7.100e+02
 8.600e+02 6.140e+02 1.290e+03 3.660e+02 3.180e+02 1.500e+01 9.960e+02
 3.500e+01 6.400e+02 3.050e+02 2.730e+02 8.400e+01 2.880e+02 7.700e+02
 2.540e+02 6.000e+03 9.600e+02 2.100e+02 1.150e+02 2.030e+03 4.780e+02
 6.200e+01 4.820e+02 2.000e+01 6.000e+00 6.470e+02 7.320e+02 1.000e+01
 4.340e+02 2.840e+03 4.100e+02 5.730e+02 1.120e+02 1.170e+03 6.350e+02
 8.200e+01 2.820e+02 8.800e+02 6.840e+02 9.700e+02 3.060e+02 1.280e+02
 5.300e+02 6.430e+02 9.500e+01 1.602e+03 7.600e+02 7.400e+02 6.400e+01
 2.900e+01 3.110e+02 5.450e+02 1.490e+03 4.000e+03 3.580e+02 1.460e+03
 3.150e+02 8.000e+00 2.400e+01 2.960e+02 3.980e+02 3.620e+02 1.139e+03
 2.660e+02 5.250e+02 5.160e+02 3.390e+02 2.280e+02 4.160e+02 8.100e+02
 1.100e+02 6.550e+02 3.360e+02 7.830e+02 1.235e+03 1.072e+03 8.820e+02
 9.900e+02 1.020e+02 4.920e+02 1.850e+02 1.620e+03 9.200e+02 5.150e+02
 2.900e+02 1.019e+03 1.650e+03 4.050e+02 1.090e+03 6.210e+02 1.030e+02
 6.830e+02 1.164e+03 1.030e+03 5.760e+02 8.150e+02 1.310e+03]
[0.0, 'Fin del trabajo temporario/estacional', 'Despido/cierre', 'Renuncia obligada/pactada', 'Por razones personales', 'Por jubilación', 'Otras causas laborales', 'Le pagaban poco/no le pagaban', 'Malas relaciones laborales/malas condiciones de trabajo (ins', 'Por retiro voluntario del sector público']
Categories (10, object): [0.0 < 'Despido/cierre' < 'Por retiro voluntario del sector público' < 'Por jubilación' ... 'Malas relaciones laborales/malas condiciones de trabajo (ins' < 'Renuncia obligada/pactada' < 'Otras causas laborales' < 'Por razones personales']
[ 71.4        167.33333333 666.66666667 ... 597.5        522.5
 421.25      ]
['01' '04' '09' '08' '03' '05' '00' '07' '06' '10' '02']

C:\Users\tadeo\AppData\Local\Temp\ipykernel_15872\1094088229.py:5: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  puntoc_04=puntob_04.replace(['Entrevista individual no realizada (no respuesta al cuestion', 'Ns./Nr.'], 0.0)

In [108]:
for i in categorias_elegidas:
    print(puntoc_04[i].unique())

['Gran La Plata', 'Bahía Blanca - Cerri', 'Gran Rosario', 'Gran Santa Fe', 'Gran Paraná', 'Gran Córdoba', 'Concordia', 'Santa Rosa - Toay', 'Mar del Plata - Batán', 'Río Cuarto']
Categories (29, object): ['Gran La Plata' < 'Bahía Blanca - Cerri' < 'Gran Rosario' < 'Gran Santa Fe' ... 'Ciudad de Buenos Aires' < 'Partidos del GBA' < 'Mar del Plata - Batán' < 'Río Cuarto']
['Varón', 'Mujer']
Categories (2, object): ['Varón' < 'Mujer']
[52.0, 40.0, 19.0, 14.0, 9.0, ..., '98 y más años', 91.0, 92.0, 94.0, 96.0]
Length: 98
Categories (99, object): ['Menos de 1 año' < 1.0 < 2.0 < 3.0 ... 95.0 < 96.0 < 97.0 < '98 y más años']
['Sí', 'No', 'Menor de 2 años']
Categories (4, object): ['Sí' < 'No' < 'Menor de 2 años' < 0.0]
['Secundaria Incompleta', 'Secundaria Completa', 'Primaria Incompleta (incluye educación especial)', 'Primaria Completa', 'Superior Universitaria Completa', 'Sin instrucción', 'Superior Universitaria Incompleta']
Categories (7, object): ['Primaria Incompleta (incluye educación especial)' < 'Primaria Completa' < 'Secundaria Incompleta' < 'Secundaria Completa' < 'Superior Universitaria Incompleta' < 'Superior Universitaria Completa' < 'Sin instrucción']
['Ocupado', 'Inactivo', 'Menor de 10 años', 'Desocupado', 0.0]
Categories (5, object): [0.0 < 'Ocupado' < 'Desocupado' < 'Inactivo' < 'Menor de 10 años']
['Obrero o empleado', 0.0, 'Patrón', 'Cuenta propia', 'Trabajador familiar sin remuneración']
Categories (5, object): [0.0 < 'Patrón' < 'Cuenta propia' < 'Obrero o empleado' < 'Trabajador familiar sin remuneración']
[0.0, 'Estudiante', 'Menor de 6 años', 'Jubilado/pensionado', 'Ama de casa', 'Discapacitado', 'Rentista', 'Otros']
Categories (8, object): [0.0 < 'Jubilado/pensionado' < 'Rentista' < 'Estudiante' < 'Ama de casa' < 'Menor de 6 años' < 'Discapacitado' < 'Otros']
['...estatal?', '...privada?', 0.0, '...de otro tipo? (especificar)']
Categories (4, object): [0.0 < '...estatal?' < '...privada?' < '...de otro tipo? (especificar)']
['No', 0.0, 'Sí']
Categories (3, object): [0.0 < 'Sí' < 'No']
['...de día? (mañana/tarde)', 0.0, '...de otro tipo? (rotativo, día y noche, guardias con franco', '...de noche']
Categories (4, object): [0.0 < '...de día? (mañana/tarde)' < '...de noche' < '...de otro tipo? (rotativo, día y noche, guardias con franco']
[1.500e+02 2.000e+02 7.000e+00 0.000e+00 5.020e+02 7.300e+02 3.020e+02
 7.000e+02 5.000e+02 3.220e+02 5.700e+02 8.000e+02 7.020e+02 1.000e+03
 1.750e+03 4.500e+02 6.100e+02 1.200e+03 3.320e+02 6.700e+02 6.000e+02
 8.310e+02 4.000e+01 4.000e+02 1.500e+03 9.000e+02 2.000e+03 2.520e+02
 3.000e+02 8.200e+02 4.500e+03 3.520e+02 4.620e+02 1.520e+02 4.800e+02
 3.400e+02 3.200e+02 6.300e+02 2.800e+02 1.002e+03 1.803e+03 4.320e+02
 2.500e+02 5.800e+02 1.802e+03 7.200e+02 3.820e+02 2.420e+02 1.700e+03
 9.500e+02 1.000e+02 7.000e+01 7.500e+02 7.800e+02 1.800e+03 1.150e+03
 1.400e+03 1.100e+03 5.500e+02 9.020e+02 6.020e+02 2.100e+03 4.590e+02
 8.020e+02 1.300e+03 8.300e+02 1.502e+03 1.420e+02 4.020e+02 3.002e+03
 9.000e+01 2.780e+02 3.500e+02 2.400e+02 4.520e+02 1.102e+03 1.403e+03
 6.800e+02 7.520e+02 2.020e+02 4.310e+03 9.750e+02 8.000e+01 8.400e+02
 6.500e+02 6.250e+02 5.720e+02 3.600e+02 3.900e+03 2.200e+03 4.330e+02
 3.000e+03 3.300e+02 9.820e+02 5.750e+02 6.090e+02 2.002e+03 1.202e+03
 8.500e+02 9.000e+00 5.780e+02 5.080e+02 4.950e+02 1.152e+03 1.052e+03
 3.010e+02 1.800e+02 4.700e+02 6.820e+02 5.820e+02 1.922e+03 4.250e+02
 5.520e+02 2.920e+02 3.800e+02 2.250e+02 1.200e+02 5.600e+02 2.950e+02
 1.220e+02 1.400e+02 1.302e+03 1.478e+03 8.090e+02 2.600e+02 1.850e+03
 1.550e+03 7.640e+02 1.050e+03 4.070e+02 2.300e+02 1.250e+02 2.220e+03
 5.000e+03 4.720e+02 8.900e+02 4.600e+02 1.820e+03 2.300e+03 1.900e+02
 3.920e+02 1.600e+02 5.400e+02 3.700e+02 4.200e+02 1.573e+03 5.050e+02
 4.400e+02 7.750e+02 2.500e+03 4.450e+02 5.530e+02 1.600e+03 1.300e+02
 5.360e+02 3.200e+03 5.000e+01 1.320e+03 6.000e+01 3.000e+01 1.440e+03
 7.400e+01 1.420e+03 5.320e+02 4.800e+01 9.800e+02 3.780e+02 4.670e+02
 2.700e+02 1.035e+03 2.500e+01 1.250e+03 1.075e+03 2.340e+02 9.300e+02
 9.400e+02 2.600e+03 3.750e+02 8.690e+02 5.200e+02 3.900e+02 4.410e+02
 1.350e+03 1.425e+03 1.970e+03 3.250e+02 5.260e+02 6.900e+02 5.850e+02
 2.080e+02 6.200e+02 8.700e+02 5.300e+03 7.890e+02 2.400e+03 1.900e+03
 1.700e+02 6.600e+02 7.200e+01 1.180e+03 3.500e+03 4.300e+02 7.500e+03
 5.100e+02 6.930e+02 2.200e+02 1.280e+03 9.600e+01 2.350e+03 5.920e+02
 1.060e+03 2.470e+02 4.900e+02 1.350e+02 5.660e+02 7.800e+01 7.100e+02
 8.600e+02 6.140e+02 1.290e+03 3.660e+02 3.180e+02 1.500e+01 9.960e+02
 3.500e+01 6.400e+02 3.050e+02 2.730e+02 8.400e+01 2.880e+02 7.700e+02
 2.540e+02 6.000e+03 9.600e+02 2.100e+02 1.150e+02 2.030e+03 4.780e+02
 6.200e+01 4.820e+02 2.000e+01 6.000e+00 6.470e+02 7.320e+02 1.000e+01
 4.340e+02 2.840e+03 4.100e+02 5.730e+02 1.120e+02 1.170e+03 6.350e+02
 8.200e+01 2.820e+02 8.800e+02 6.840e+02 9.700e+02 3.060e+02 1.280e+02
 5.300e+02 6.430e+02 9.500e+01 1.602e+03 7.600e+02 7.400e+02 6.400e+01
 2.900e+01 3.110e+02 5.450e+02 1.490e+03 4.000e+03 3.580e+02 1.460e+03
 3.150e+02 8.000e+00 2.400e+01 2.960e+02 3.980e+02 3.620e+02 1.139e+03
 2.660e+02 5.250e+02 5.160e+02 3.390e+02 2.280e+02 4.160e+02 8.100e+02
 1.100e+02 6.550e+02 3.360e+02 7.830e+02 1.235e+03 1.072e+03 8.820e+02
 9.900e+02 1.020e+02 4.920e+02 1.850e+02 1.620e+03 9.200e+02 5.150e+02
 2.900e+02 1.019e+03 1.650e+03 4.050e+02 1.090e+03 6.210e+02 1.030e+02
 6.830e+02 1.164e+03 1.030e+03 5.760e+02 8.150e+02 1.310e+03]
[0.0, 'Fin del trabajo temporario/estacional', 'Despido/cierre', 'Renuncia obligada/pactada', 'Por razones personales', 'Por jubilación', 'Otras causas laborales', 'Le pagaban poco/no le pagaban', 'Malas relaciones laborales/malas condiciones de trabajo (ins', 'Por retiro voluntario del sector público']
Categories (10, object): [0.0 < 'Despido/cierre' < 'Por retiro voluntario del sector público' < 'Por jubilación' ... 'Malas relaciones laborales/malas condiciones de trabajo (ins' < 'Renuncia obligada/pactada' < 'Otras causas laborales' < 'Por razones personales']
[ 71.4        167.33333333 666.66666667 ... 597.5        522.5
 421.25      ]
['01' '04' '09' '08' '03' '05' '00' '07' '06' '10' '02']